.main {
  display: flex;
  margin: 0 auto;
  max-width: 800px;
  /*align-items: stre tch;*/
  /*min-height: 100vh;*/
}

.aside {
  /*flex: 1 1 200px;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 180px;
  max-width: 180px;
  background: #ffd62a;
  margin: 5px;
  padding: 10px;
  /*padding: 50vh 10px;*/
}



img {
  width: 100px;
  height: 100px;
  margin: 20px auto;
  border-radius: 50%;

}

.container {
  flex: 1 1 0%;
  min-width: 400px;
  background: #7A3E48;
  margin: 5px 0;
}

.container {
  display: flex;
  flex-direction: column;
  background: #EECD86;
}

.content {
  flex: 2 1 0%;
  margin: 5px;
  background: #E18942;
  min-height: 600px;
}

.content p {
  margin: 20px;
}

.others {
  /*flex: 4 1 0% ;*/
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5px;
  background: #B95835;
  /*max-height: 400px;*/
}

.item {
  flex-grow: 1;
  background: #3D3242;
  margin: 5px;
  width: 200px;
  height: 130px;
}

.item p {
  margin: 10px;
  text-align:justify ;
}


















